@media (max-width:90em){
    html{
        font-size: 55%;
    }
}
@media (max-width:64em){
    html{
        font-size: 55%;
    }
    .controller{
        
        visibility: visible;
        
            right: 10%;
        
    }
    .scores{       
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:48em){
    html{
        font-size: 45%;
    }
    .controller{
        position: fixed;
        bottom:1%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 17rem;
        height: 17rem;
    }
    
}
@media (max-width:26em){
    html{
        font-size: 40%;
    }
    .controller{
        width: 40vmin;
        height: 40vmin;
    }
   
   
}
@media (max-width:23em){
html{
    font-size: 35%;
}
    
  
}
@media (max-width:20em){
   html{
    font-size: 30%;
   }
    
  
}